In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
observations = pd.DataFrame({
              'X1':[0,2,0,0,-1,1],
              'X2':[3,0,1,1,0,1],
              'X3':[0,0,3,2,1,1],
              'Y':['Red','Red','Red','Green','Green','Red']})
point = np.array([0,0,0])

In [4]:
observations

   X1  X2  X3      Y
0   0   3   0    Red
1   2   0   0    Red
2   0   1   3    Red
3   0   1   2  Green
4  -1   0   1  Green
5   1   1   1    Red

In [5]:
observations['Dist'] = np.linalg.norm(observations[['X1','X2','X3']].to_numpy() - point 
                                      ,axis=1)

In [7]:
observations

   X1  X2  X3      Y      Dist
0   0   3   0    Red  3.000000
1   2   0   0    Red  2.000000
2   0   1   3    Red  3.162278
3   0   1   2  Green  2.236068
4  -1   0   1  Green  1.414214
5   1   1   1    Red  1.732051